:root {
  --background-color-light: ;
  --background-color-dark: ;
  --text-color: ;
  --text-color-light: ;
  --blue-color: #3B82F6;
  --dark-blue-color: #193766;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Barlow Condensed';
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background-color-light);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1em;
}

p {
  font-weight: 400;
}